@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Bold;
    src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('../fonts/Lato-Light.ttf');
}

@font-face {
    font-family: Lato-Thin;
    src: url('../fonts/Lato-Thin.ttf');
}

@page {
    size: A4;
    margin: 1cm;
     /* change the margins as you want them to be. */
}


.name{
    color: #2b2b2b;
    font-size: 20px;
    font-family: Lato-Light;
}

.title {
    color:#6a6a6a;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Lato-Light;
}

.text {
    color: #2b2b2b;
    font-size:11px ;
    font-family: Lato-Regular;
}

.company-name {
    color: #2b2b2b;
    font-size: 12px;
    font-family: Lato-Regular;
    text-transform: uppercase;
}

.role-name {
    color: #2b2b2b;
    font-size: 12px;
    font-family: Lato-Light;
    text-transform: uppercase;
}

.date-location {
    color: #2b2b2b;
    font-size: 11px;
    font-family: Lato-Regular;
}

.phone-and-address {
    color:#2b2b2b;
    font-size: 12px;
    font-family: Lato-Light;
}