
@page {
    size: A4;
    margin: 0.5cm 1cm;
     /* change the margins as you want them to be. */
}

:root{
    /* change default spacing in basecss*/
    font-size: 10px;
    size: A4;
}

ul {
    padding: 0 0 0 10px;
    list-style-type: '> ';
    margin:0;
}

/*}*/

li {
    padding: 0;
}


body {
    font-family: Lato;
}


.name{
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 300;
}

.title {
    color:#6a6a6a;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
}

.text {
    color: #2b2b2b;
    font-size:11px ;
    font-weight: 400;
}

.company-name {
    color: #2b2b2b;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.role-name {
    color: #2b2b2b;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.date-location {
    color: #2b2b2b;
    font-size: 11px;
    font-weight: 400;
}

.phone-and-address {
    color:#2b2b2b;
    font-size: 12px;
    font-weight: 300;
}

.divider {
    border-bottom: solid 1px #000000;
    opacity: 0.2;
    width:100%;
    height:0
}