{% load static %} {% load markdownify %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/cv_template.css' %}" />
    <link
      href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="paper">
      <div class="center">
        <div class="name mb1">
          {{ cv.name }}
        </div>
        <div class="phone-and-address mb2">
          {{cv.location}} | {{ cv.phone }}
        </div>
        <div class="divider"></div>
      </div>
      <div class="flex mt2">
        <div class="col-4 mr2">
          <div class="title">
            About Me
          </div>
          <div class="text" style="margin-top:5px">
            {{ cv.bio | markdownify }}
          </div>
        </div>
        <div class="col-6">
        {% if cv.experience_entries %}
          <div class="title">
            My work Experience
          </div>
          {% for entry in cv.experience_entries.all %}
              {% include 'experience_entry.html' with entry=entry %}
          {% endfor %}
        {% endif %}
        {% if cv.personal_project_entries %}
         <div class="title mt3">
             Personal Projects
         </div>
        {% for entry in cv.personal_project_entries.all %}
            {% include 'personal_project_entry.html' %}
        {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
